In [ ]:
#hide
! [ -e /content ] && pip install -Uqq fastbook
import fastbook
fastbook.setup_book()
from fastbook import *
from fastai.data.external import *
from ipywidgets import *
import pandas as pd
import numpy as np
import math
import sqlite3
from random import randint

In [96]:
# Local stuff
from api.helpers import *
import api.tab_model as tm
import api.imageclassifier as ic
from api.location_model import LocationModel
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [3]:
img_learn = ic.ImageClassifier('models/v0.4/resnet101-f7-fp16-h1.0.pkl')

In [97]:
tab_learn = tm.TabModel('dbs/fungid.sqlite')
loc_learn = LocationModel('dbs/fungid.sqlite')

In [94]:
file = "dbs/training/training-data-v0-4.csv"
data = pd.read_csv(file)
data = data.loc[data.imgid.notna()].copy()
data['img'] = 'dbs/images/500/' + data.gbifid.astype(str) + '-' + data.imgid.astype(int).astype(str) + '.png'

In [13]:
def get_bounding_box(lat, lon, dist):
    latdiff = (180 / math.pi) * (dist / 6378137)
    londiff = (180 / math.pi) * (dist / 6378137) / math.cos(lat)
    return (lat - latdiff, lon - londiff), (lat + latdiff, lon + londiff)

def get_db_species(conn, observation, dist):
    p1, p2 = get_bounding_box(tab_item.decimallatitude, tab_item.decimallongitude, dist)
    print(p1, p2)
    cursor = conn.execute("""
    SELECT species, COUNT(*)
    FROM validobservations v 
    JOIN trainingspecies t ON v.specieskey = t.specieskey
    WHERE decimallatitude BETWEEN ? AND ? 
    AND decimallongitude BETWEEN ? AND ? 
    GROUP BY 1 ORDER BY 2;""",
                 (p1[0], p2[0], p1[1], p2[1]))
    results = cursor.fetchall()
    print(len(results))
    
def get_tab_data(data):
    tab_columns = ['kg', 'elu_class1', 'elu_class2', 'elu_class3', 'decimallatitude', 'decimallongitude', 'species', 'normalizedmonth', 'season']
    return data[tab_columns].copy()

def get_results(learner, data):
    row, clas, probs = learner.predict(data)
    return probs

In [160]:


# loc_learn.get_predictions(46.7867, -92.1005)

0.22458364500267453 0.5586388734291332
(52.025416354997326, 5.591361126570867) (52.474583645002674, 6.708638873429134)

                        total  local
species
Abortiporus biennis      3771     88
Acarospora fuscata       1667    108
Acarospora moenium        254     39
Acrospermum compressum    776     13
Agaricus arvensis        5292     35
...                       ...    ...
Xylaria oxyacanthae       196      3
Xylaria polymorpha      10333    143
Xylodon flaviporus        761     16
Xylodon radula           7416      2
Xylodon sambuci          5601     71

[1493 rows x 2 columns]

In [292]:
def compare(probs, vals, num) -> pd.DataFrame:

    df = pd.DataFrame()
    for i, prob in enumerate(probs):
        if i == 0:
            df["prob" + str(i)] = prob
            df["rank" + str(i)] = prob.rank(ascending=False)
        else: 
            df = pd.concat([df, prob, prob.rank(ascending=False)], axis=1)

    df = pd.concat([df] + vals, axis=1)

    return df.sort_values(by="rank0").head(num)

# 124978
# 2119839 - Bad
# 1292929 - Negative nubmers = 
# 454673 - Dropped to 10 from 1
# 1068383 - Artificial fucks with stuff. 
# 193834 & 2073568- Totall throws the data into mayhem 
# 1370890 - Ignore Surface Water in ELU?
# Need to only pull 4-5 images per obs. 
# 
id = randint(0, len(img_data))
print(id)
item = data.iloc[id]
print(item)
images = list(data.loc[data.gbifid == item.gbifid].img)
print(images)
obs = obs_from_series(item, images)

loc_preds = loc_learn.get_predictions(obs.lat, obs.long)
tab_preds = tab_learn.get_predictions(obs)
print((tab_preds.max(), tab_preds.min(), tab_preds.loc[tab_item.species]))

img_preds, img_df = img_learn.get_predictions(obs.images)

df = compare([img_preds, 
              img_preds * tab_preds,
              (img_preds * tab_preds).loc[loc_preds.index]
             ], [tab_preds], 50)
df

# 2238561578

1230473
gbifid                                   3415500486
_family                                Bolbitiaceae
genus                                      Conocybe
species                              Conocybe apala
familykey                                    8440.0
genuskey                                    2529714
specieskey                                  2529827
eventyear                                      2020
eventmonth                                        9
eventday                                         11
eventdate                       2020-09-11 09:50:23
decimallatitude                           34.005727
decimallongitude                        -117.648225
kg                                                8
elu                                             222
elu_class1                 Artificial or Urban Area
elu_class2                                      NaN
elu_class3                                      NaN
normalizedmonth                                  10
season                                       autumn
imgid                                           1.0
img                 dbs/images/500/3415500486-1.png
Name: 5976955, dtype: object
['dbs/images/500/3415500486-1.png']
0.22458364500267453 0.2637238515077201
0.44916729000534905 0.5274477030154402
(1.0, 0.5021929824561403, 0.7839393363601513)

,prob0,rank0,0,1,0,1,likelihood
species,,,,,,,
Conocybe apala,21.723814,1.0,18.556285,1.0,18.556285,1.0,0.854191
Parasola plicatilis,17.338703,2.0,13.809979,2.0,13.809979,2.0,0.796483
Parasola auricoma,14.914367,3.0,10.861019,7.0,10.861019,6.0,0.728225
Parasola lactea,14.325360,4.0,12.050973,4.0,NaN,NaN,0.841234
Panaeolina foenisecii,13.992872,5.0,12.274992,3.0,12.274992,3.0,0.877232
Coprinellus domesticus,13.513763,6.0,11.140368,5.0,11.140368,4.0,0.824372
Bolbitius titubans,13.375378,7.0,10.904797,6.0,10.904797,5.0,0.815289
Coprinellus disseminatus,12.964526,8.0,10.662212,8.0,10.662212,7.0,0.822414
Coprinellus micaceus,12.562638,9.0,9.805508,13.0,9.805508,9.0,0.780529
Bolbitius coprophilus,12.353665,10.0,10.269772,9.0,NaN,NaN,0.831314
Psilocybe cubensis,12.096579,11.0,10.110724,10.0,NaN,NaN,0.835833
Coprinellus flocculosus,12.042182,12.0,9.678542,14.0,9.678542,10.0,0.803720
Coprinellus impatiens,11.998725,13.0,8.947267,18.0,NaN,NaN,0.745685
Coprinellus xanthothrix,11.575931,14.0,9.963876,11.0,NaN,NaN,0.860741
Panaeolus antillarum,11.562564,15.0,8.830199,19.0,NaN,NaN,0.763689
Chlorophyllum molybdites,11.000690,16.0,9.896620,12.0,9.896620,8.0,0.899636
Atheniella flavoalba,10.994448,17.0,8.246745,23.0,NaN,NaN,0.750083
Panaeolus cyanescens,10.817419,18.0,9.339414,15.0,NaN,NaN,0.863368
Ganoderma zonatum,10.554130,19.0,7.699556,34.0,NaN,NaN,0.729530
Lactarius deliciosus,10.519555,20.0,8.007902,27.0,NaN,NaN,0.761240
Ganoderma resinaceum,10.497272,21.0,9.048305,17.0,NaN,NaN,0.861967
Panaeolus cinctulus,10.385577,22.0,9.094870,16.0,9.094870,11.0,0.875721
Peziza vesiculosa,10.109617,23.0,7.576031,41.0,7.576031,19.0,0.749389
Leucocoprinus fragilissimus,10.026664,24.0,8.502899,20.0,NaN,NaN,0.848029
Cerrena hydnoides,9.969377,25.0,8.054737,26.0,NaN,NaN,0.807948
Coprinopsis nivea,9.912580,26.0,7.756004,32.0,NaN,NaN,0.782441
Parasola conopilea,9.909298,27.0,7.631910,38.0,7.631910,18.0,0.770177
Cuphophyllus virgineus,9.903327,28.0,7.308781,50.0,NaN,NaN,0.738013
Leucocoprinus cepistipes,9.752198,29.0,8.351997,22.0,8.351997,13.0,0.856422
Conocybe tenera,9.738663,30.0,7.293589,51.0,NaN,NaN,0.748931
Psilocybe semilanceata,9.703835,31.0,7.082185,60.0,NaN,NaN,0.729834
Agaricus californicus,9.602239,32.0,7.263206,53.0,7.263206,23.0,0.756408
Leucoagaricus leucothites,9.486938,33.0,7.481435,45.0,7.481435,20.0,0.788604
Mutinus elegans,9.439959,34.0,7.889812,29.0,NaN,NaN,0.835789
Parasola misera,9.411871,35.0,6.660397,77.0,NaN,NaN,0.707659
Coprinopsis lagopus,9.389990,36.0,7.451002,46.0,7.451002,21.0,0.793505
Parasola leiocephala,9.357566,37.0,7.244513,55.0,NaN,NaN,0.774188
Cryptoporus volvatus,9.316156,38.0,6.511972,87.0,6.511972,27.0,0.698998
Ganoderma lobatum,9.313445,39.0,8.149264,25.0,NaN,NaN,0.875000
Fistulina hepatica,9.310032,40.0,7.434389,47.0,NaN,NaN,0.798535
Omphalotus illudens,9.309811,41.0,7.844717,31.0,NaN,NaN,0.842629
Pisolithus arhizus,9.305033,42.0,8.219128,24.0,8.219128,14.0,0.883299
Parasola kuehneri,9.216587,43.0,7.618439,39.0,NaN,NaN,0.826601
Atheniella aurantiidisca,9.182858,44.0,5.966019,135.0,NaN,NaN,0.649691
Leucoagaricus americanus,9.127235,45.0,7.966110,28.0,NaN,NaN,0.872785
Inonotus hispidus,9.116805,46.0,7.739291,33.0,7.739291,16.0,0.848904
Lactarius paradoxus,9.039270,47.0,6.881469,67.0,NaN,NaN,0.761286
Lepiota cristata,9.022581,48.0,7.241271,56.0,NaN,NaN,0.802572
Lysurus mokusin,9.012831,49.0,7.869725,30.0,7.869725,15.0,0.873169
Ganoderma curtisii,8.958032,50.0,7.689400,35.0,NaN,NaN,0.858381

In [261]:
img_df.sort_values(by="0", ascending=False)

                                    0          1
species
Panus conchatus             21.042353  16.658409
Pleurotus pulmonarius       16.273634  16.519880
Pleurotus ostreatus         16.180414  15.065679
Lenzites betulinus          15.551631  16.919554
Panus neostrigosus          14.042208  14.673512
...                               ...        ...
Strobilomyces strobilaceus   0.408175   3.857002
Suillus americanus           0.362640   5.565790
Chlorophyllum olivieri       0.202737   6.143771
Suillus pungens              0.117108   8.569140
Phaeolus schweinitzii       -0.229372   7.125488

[2912 rows x 2 columns]

In [205]:
probs = [img_preds, 
         img_preds * tab_preds,
         (img_preds * tab_preds).loc[loc_preds.index]
        ]

df = pd.DataFrame()
for i, prob in enumerate(probs):
    if i == 0:
        df["prob" + str(i)] = prob
        df["rank" + str(i)] = prob.rank(ascending=False)
    else: 
        df = pd.concat([df, prob, prob.rank(ascending=False)], axis=1)

    
df
# (img_preds * tab_preds).loc[loc_preds.index]

,prob0,rank0,0,1,0,1
species,,,,,,
Abortiporus biennis,-11.112320,2767.0,-17.522710,2240.0,-17.522710,1319.0
Acanthophysium oakesii,-6.217802,1092.0,-15.527212,1985.0,NaN,NaN
Acarospora fuscata,-5.913771,900.0,-17.303498,2211.0,-17.303498,1300.0
Acarospora moenium,-5.424222,671.0,-14.617180,1850.0,-14.617180,1060.0
Acarospora sinopica,-7.454016,1756.0,-17.666347,2260.0,-17.666347,1332.0
...,...,...,...,...,...,...
Xylodon flaviporus,-8.361444,2177.0,-20.473418,2528.0,NaN,NaN
Xylodon radula,-6.460116,1219.0,-15.530566,1986.0,-15.530566,1146.0
Xylodon sambuci,-10.604612,2721.0,-21.413704,2595.0,-21.413704,1554.0
Xylodon subtropicus,-9.524394,2546.0,-16.533244,2118.0,NaN,NaN
Xylopsora friesii,-5.828537,858.0,-15.459958,1976.0,-15.459958,1141.0

In [306]:
image = PILImage.create('/Users/weishuhn/Downloads/1920px-Galerina_marginata_Point_Reyes.jpg')
# img_learn.resize(image)
pred, _ = img_learn.get_predictions([image])
compare([pred], [], 50)

                                 prob0  rank0
species
Galerina marginata           23.240204    1.0
Conocybe aporos              21.501135    2.0
Galerina patagonica          20.226049    3.0
Psilocybe ovoideocystidiata  19.769825    4.0
Agrocybe praecox             19.472174    5.0
Cyclocybe erebia             19.415812    6.0
Psathyrella piluliformis     19.414293    7.0
Suillus flavidus             19.325062    8.0
Armillaria mellea            18.983782    9.0
Cortinarius caperatus        18.940950   10.0
Cortinarius vibratilis       18.935690   11.0
Kuehneromyces marginellus    18.859121   12.0
Armillaria cepistipes        18.717697   13.0
Psilocybe subaeruginosa      18.692005   14.0
Psilocybe cyanescens         18.681053   15.0
Conocybe arrhenii            18.624126   16.0
Armillaria lutea             18.596735   17.0
Conocybe rugosa              18.524500   18.0
Galerina sideroides          18.505350   19.0
Kuehneromyces mutabilis      18.110418   20.0
Meottomyces dissimulans      18.091980   21.0
Cortinarius obtusus          17.880455   22.0
Gymnopilus sapineus          17.878839   23.0
Gymnopilus penetrans         17.831909   24.0
Psilocybe azurescens         17.691963   25.0
Suillus salmonicolor         17.660990   26.0
Xanthoconium affine          17.501041   27.0
Cortinarius subtortus        17.257998   28.0
Pholiota lignicola           17.162642   29.0
Armillaria gallica           17.152287   30.0
Hygrophorus discoideus       17.098276   31.0
Suillus grevillei            17.030981   32.0
Cortinarius hinnuleus        17.030107   33.0
Cortinarius mucosus          16.996094   34.0
Cortinarius caninus          16.916149   35.0
Cortinarius trivialis        16.877213   36.0
Gymnopilus ventricosus       16.702551   37.0
Cortinarius rigens           16.600601   38.0
Psathyrella longistriata     16.573418   39.0
Climacocystis borealis       16.454527   40.0
Apioperdon pyriforme         16.420668   41.0
Entoloma sericatum           16.416874   42.0
Cortinarius anomalus         16.411963   43.0
Limacella delicata           16.297224   44.0
Cortinarius salor            16.294813   45.0
Homophron spadiceum          16.274517   46.0
Cortinarius multiformis      16.222973   47.0
Cortinarius delibutus        16.190403   48.0
Hypholoma myosotis           16.063999   49.0
Chrysomphalina chrysophylla  16.039722   50.0

In [219]:
type(df.sum(axis=1))

pandas.core.series.Series

In [ ]:
url = 'https://inaturalist-open-data.s3.amazonaws.com/photos/3897840/large.jpg'
filename = 'tmp/tmp.jpg'
resized = 'tmp/tmp-resized.jpg'
resize = Resize(224, ResizeMethod.Pad, pad_mode='zeros')
download_url(url, filename)
img = PILImage.create(filename)
resize(img).save(resized)
test_probs = get_results(img_learn, resized)
print_top50(test_probs)