In [3]:
import rasterio
from affine import Affine

import climatezones as cz 
%load_ext autoreload
%autoreload 2

In [9]:
points = cz.get_points()
points = points[~points.long.isnull()]

def convert_points(raster, col, points):
    gelu = rasterio.open(raster)
    transformer = rasterio.transform.AffineTransformer(gelu.transform)
    band1 = gelu.read(1)
    gelu.height
    points['x'], points['y'] = transformer.rowcol(points.long, points.lat)
    fpoints = points[points.x <= gelu.height]
    fpoints[col] = band1[fpoints.x, fpoints.y]
    return points

In [10]:
raster = 'dbs/geospatial/globalelu/World_ELU_2015.tif'
fpoints = convert_points(raster, 'elu', points)

/Users/weishuhn/.pyenv/versions/miniforge3/envs/image-classifier/lib/python3.9/site-packages/geopandas/geodataframe.py:1351: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)

In [11]:
fpoints.groupby(by="elu").count()

KeyError: 'elu'

In [103]:
beck = 'dbs/geospatial/Beck_KG_V1/Beck_KG_V1_present_0p0083.tif'
fpoints = convert_points(beck, 'kg', points)

       gbifid      lat     long  geometry        x        y
elu
0     1105715  1105715  1105715   1105715  1105715  1105715
1        5114     5114     5114      5114     5114     5114
2        1355     1355     1355      1355     1355     1355
3         198      198      198       198      198      198
4         203      203      203       203      203      203
...       ...      ...      ...       ...      ...      ...
3573       78       78       78        78       78       78
3600        9        9        9         9        9        9
3610        7        7        7         7        7        7
3627        3        3        3         3        3        3
3639   362588   362588   362588    362588   362588   362588

[1942 rows x 6 columns]

In [95]:
fpoints

,gbifid,lat,long,geometry,x,y,elu
pointid,,,,,,,
0,1431462551,56.218360,16.416320,POINT (56.218 16.416),13155,94279,0
1,1438086806,58.448580,13.701640,POINT (58.449 13.702),12084,92976,372
2,1669971044,59.551380,12.236730,POINT (59.551 12.237),11555,92273,301
3,2270949504,59.845890,17.567560,POINT (59.846 17.568),11413,94832,451
4,2271059142,59.262680,15.548110,POINT (59.263 15.548),11693,93863,451
...,...,...,...,...,...,...,...
13902393,2828511327,-31.895833,116.557222,POINT (-31.896 116.557),55449,142347,2072
13902394,2830380118,-37.491667,148.702500,POINT (-37.492 148.702),58135,157777,1750
13902395,2830264695,-32.316667,152.416667,POINT (-32.317 152.417),55651,159560,1372
13902396,2829914034,-34.683333,142.350000,POINT (-34.683 142.350),56787,154728,1705
13902397,2828467329,-35.281389,149.096944,POINT (-35.281 149.097),57075,157966,222

In [101]:
points[points.x > 66020]

,gbifid,lat,long,geometry,x,y
pointid,,,,,,
467253,2574153427,-55.946671,-67.275052,POINT (-55.947 -67.275),66994,54107
470858,3118391405,-54.844341,-68.573493,POINT (-54.844 -68.573),66465,53484
472803,2331345218,-62.198185,-58.959160,POINT (-62.198 -58.959),69995,58099
496466,2430830208,-54.500000,158.883333,POINT (-54.500 158.883),66299,162663
496467,2430792906,-54.533333,158.850000,POINT (-54.533 158.850),66315,162648
...,...,...,...,...,...,...
13824320,2237502025,-54.796239,-68.316639,POINT (-54.796 -68.317),66442,53608
13851343,3313344435,-54.843219,-68.554011,POINT (-54.843 -68.554),66464,53494
13854001,3112559449,-54.845658,-68.550094,POINT (-54.846 -68.550),66465,53495
13854503,3698095455,-54.808297,-68.385345,POINT (-54.808 -68.385),66447,53575
13856911,3759985437,-54.801892,-68.302951,POINT (-54.802 -68.303),66444,53614